/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.btn {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
	padding: 10px 25px;
	background-color: white;
	border-radius: 4px;
	border: 1px solid white;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1);
	        box-shadow: 0 2px 4px rgba(0,0,0,.1);
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	vertical-align: middle;
}

.btn:hover {
	color: #334154;
	text-decoration: underline;
}

.btn.dark {
	border: 1px solid #8F5EA7;
	background-color: #8F5EA7;
	color: white;
}

.btn.dark:hover {
	border-color: #334154;
	background-color: #334154;
}

.btn.dark.hover-white:hover {
	border-color: white;
	background-color: white;
	color: #334154;
}

.btn.outline {
	border: 1px solid #8F5EA7;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.btn.outline:hover {
	border-color: #334154;
}

.btn.outline.white {
	border: 1px solid white;
	background-color: transparent;
	color: white;
}

.btn.outline.white:hover {
	border: 1px solid white;
	background-color: white;
	color: #334154;
}

.btn.icon {
	border: 1px solid #8F5EA7;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.btn.icon:hover {
	border-color: #334154;
	text-decoration: none;
}

.btn.icon:hover span {
	text-decoration: underline;
}

.btn.icon i {
	padding-right: 8px;
	color: #334154;
}

.btn.icon.cyan {
	border: 1px solid white;
	color: #334154;
}

.btn.icon.cyan:hover {
	border-color: #334154;
	background-color: #334154;
	color: white;
}

.btn.icon.cyan i {
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.btn.icon.cyan:hover i {
	color: white;
}

.btn.icon.white i {
	color: white;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.btn.icon.white:hover i {
	color: #334154;
}

.btn.arrow {
	width: 35px;
	height: 35px;
	padding: 0;
	background-color: transparent;
	border: 2px solid #8F5EA7;
	border-radius: 50% 50%;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.btn.arrow:hover {
	border-color: #334154;
	text-decoration: none;
}

.btn.arrow.white {
	border: 2px solid white;
}

.btn.arrow.white:hover {
	background-color: white;
}

.btn.arrow.white i {
	color: white;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.btn.arrow.white:hover i {
	color: #334154;
}

.btn.arrow.cyan {
	border: 2px solid #334154;
}

.btn.arrow.cyan:hover {
	background-color: #334154;
}

.btn.arrow.cyan i {
	color: #334154;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.btn.arrow.cyan:hover i {
	color: white;
}

.btn-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.btn-wrapper a {
	text-decoration: none;
}

.btn-wrapper .btn.arrow {
	margin: 10px;
    width: 22px;
    height: 22px;
}

.btn-wrapper .btn.arrow i {
	font-size: 14px;
}

input[type='submit'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}