/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*Base card*/

.cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cards > a {
	text-decoration: none;
}

.card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 10px 15px 20px;
	width: 100%;
	max-width: 400px;
	background: white;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.15);
	        box-shadow: 0 3px 5px rgba(0,0,0,.15);
	-webkit-transition: -webkit-box-shadow .4s;
	transition: -webkit-box-shadow .4s;
	-o-transition: box-shadow .4s;
	transition: box-shadow .4s;
	transition: box-shadow .4s, -webkit-box-shadow .4s;
}

.card:hover {
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,.15);
	        box-shadow: 0 10px 10px rgba(0,0,0,.15);
}

.card .thumbnail {
	position: relative;
	width: 100%;
	padding-top: 63.5%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	overflow: hidden;
}

.card .thumbnail img, .card .thumbnail .plyr {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.card .content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
	padding: 20px 30px;
}

.card .content h3 {
	margin-bottom: 10px;
	color: #334154;
	font-size: 24px;
	font-weight: 500;
}

.card .content h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.card .content p {
	color: #334154;
	font-size: 14px;
}

.card:hover .content span.btn {
	text-decoration: underline;
}

/*Base card with forward arrow button*/

.card .footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: flex-end;
	    -ms-flex-pack: flex-end;
	        justify-content: flex-end;
	padding: 0 20px 10px;
	overflow: hidden;
}

.card .footer .btn.arrow {
	font-size: 24px;
	font-weight: normal;
}

.card:hover .footer .btn.arrow {
	border-color: #334154;
	color: #334154;
}

/*Base card with tag and heading*/

.card .content .tag {
	margin-bottom: 10px;
}

.card .content h4 {
	margin-bottom: 10px;
	color: #334154;
	font-size: 20px;
}

/*Base card with horizontal layout*/

.card.horizontal {
	border-radius: inherit;
	-webkit-box-shadow: inherit;
	        box-shadow: inherit;
}

.card.horizontal .thumbnail {
	padding-top: 0;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
}

.card.horizontal .thumbnail .plyr {
	position: relative;
}

.card.horizontal .content {
	padding: 20px 0;
}

.card.horizontal .content h3 {
	font-size: 28px;
}

.card.horizontal .content .btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px;
}

/*Colour cards*/ 

.card.colour.blue {
	background-color: #629FC3;
}

.card.colour.teal {
	background-color: #75A2A7;
}

.card.colour.orange {
	background-color: #E48E5E;
}

.card.colour .curve {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 101%;
	height: 101%;
}

.card.colour.blue .curve {
	fill: #629FC3;
}

.card.colour.teal .curve {
	fill: #75A2A7;
}

.card.colour.orange .curve {
	fill: #E48E5E;
}

.card.colour .thumbnail h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 48%;
	color: white;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.card.colour .content {
	padding: 0 30px 20px;
}

.card.colour .content h3 {
	color: white;
	font-size: 28px;
}

.card.colour .content p {
	color: white;
	font-size: 16px;
}

.card.colour .content .btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px;
}

.card.colour .footer {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 5px 0;
	background-color: rgba(0,0,0,.2);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

.card.colour .footer p {
	color: white;
	font-size: 18px;
	font-weight: 600;
}

.card.colour .footer .btn.arrow {
	position: absolute;
	top: 18px;
	right: 15px;
	border-color: white;
	color: white;
	font-size: 24px;
	font-weight: normal;
}

.card.colour:hover .footer .btn.arrow {
	background-color: white;
	color: #334154;
}

/*Colour cards - alternate version*/

.card.colour.alternate .content p {
	font-size: 17px;
}

/*Icon cards*/

.card.icon .thumbnail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0;
	height: 140px;
}

.card.icon .thumbnail img {
	position: relative;
	width: 90px;
	height: 90px;
}

.card.icon .content {
	padding: 0 30px 20px;
}

/*Event cards*/

.card.event .content {
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
}

.card.event .content h3 {
	color: #8F5EA7;
}

.card.event .detail {
	border-bottom: 1px solid #D5D5D5;
}

.card.event .detail p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.card.event .detail i {
	margin-right: 10px;
}

.card.event .footer {
	-webkit-box-pack: flex-start;
	    -ms-flex-pack: flex-start;
	        justify-content: flex-start;
	padding: 0 30px 20px;
}

.card.event .footer .tag {
	margin: 3px;
}

/*Resource cards*/

.card.resource a {
	text-decoration: none;
}

.card.resource a:hover {
	text-decoration: underline;
}

.card.resource .detail {
	border-top: 1px solid #D5D5D5;
}

.card.resource .detail p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.card.resource .detail i {
	margin-right: 10px;
	color: #576784;
}

.card.resource .footer {
	-webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
        justify-content: flex-start;
	padding: 0 30px 20px;
}

/*Standalone card*/

.card.one-column {
	max-width: 400px;
	margin: 10px 0;
}

@media all and (min-width: 800px) {

	/*Base card*/

	.cards {
		margin-bottom: 20px;
	}

	.card {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 45%;
		        flex: 0 1 45%;
		max-width: inherit;
	}

	/*Base cards - horizontal layout*/

	.card.horizontal {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-flex: 0;
		    -ms-flex: none;
		        flex: none;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin: 0;
		max-width: inherit;
	}

	.card.horizontal > div {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 45%;
		        flex: 0 1 45%;
		margin: 10px 25px;
	}

	.card.horizontal .thumbnail .plyr {
		height: inherit;
	}

	.card.horizontal .content {
		padding: 0;
	}

	.card.horizontal .content h3 {
		font-size: 36px;
	}

	.card.horizontal .content p {
		font-size: 18px;
	}

	.card.horizontal .content .btn {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		padding: 10px 40px;
	}

}

@media all and (min-width: 1200px) {

	/*Base card*/

	.card {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 30%;
		        flex: 0 1 30%;
	}

	.cards.two-column {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.cards.two-column .card {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 45%;
		        flex: 0 1 45%;
		margin: 10px 25px;
	}

	/*Base cards - horizontal layout*/

	.card.horizontal > div {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 45%;
		        flex: 0 1 45%;
	}

	/*Colour card*/

	.card.colour .content h3 {
		font-size: 34px;
	}

}