/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.carousel {
	width: 100%;
	max-width: 500px;
}

.carousel .card {
	-webkit-box-flex: inherit;
	    -ms-flex: inherit;
	        flex: inherit;
	max-width: 500px;
	margin: inherit;
	background: #576784;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.carousel .card .thumbnail {
	padding-top: 56.25%;
}

.carousel .card .content p {
	color: white;
	font-size: 20px;
}

.carousel .slick-dots {
	bottom: -40px;
}

.carousel .slick-dots li button::before {
	font-size: 10px;
}

.carousel .slick-arrow {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.carousel .slick-arrow.prev {
	left: -40px;
}

.carousel .slick-arrow.next {
	right: -40px;
}

@media all and (min-width: 800px) {
	.carousel .slick-arrow.prev {
		left: -50px;
	}

	.carousel .slick-arrow.next {
		right: -50px;
	}
}