.highcharts-figure {
	position: relative;
	min-width: 310px; 
	max-width: 900px;
	margin: 20px auto;
}

.highcharts-figure .chart {
	height: 500px;
}

.highcharts-figure .center-text {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 20%;
	text-align: center;
	transform: translate(-50%,-50%);
}

.highcharts-figure .highcharts-axis-labels.highcharts-xaxis-labels span {
	text-align: center;
}