/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.highcharts-figure {
	position: relative;
	min-width: 310px; 
	max-width: 900px;
	margin: 20px auto;
}

.highcharts-figure .chart {
	height: 500px;
}

.highcharts-figure .center-text {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 20%;
	text-align: center;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.highcharts-figure .highcharts-axis-labels.highcharts-xaxis-labels span {
	text-align: center;
}