.form {
	margin: 20px 0;
	padding: 20px;
}

.form p {
	color: #334154;
	font-size: 14px;
}

.form.light {
	background: #F6F9FC;
	border-radius: 10px;
}

.form-group {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-bottom: 20px;
}

.form-group label {
	margin-bottom: 5px;
	color: #334154;
	font-size: 14px;
	font-weight: 600;
}

.form-group input {
	padding: 5px;
	border: 1px solid #757D8C;
	border-radius: 4px;
	color: #334154;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.form-group input:focus {
	outline: 1px solid #8F5EA7;
}

.form-group.form-short {
	display: inline-flex;
	flex: 0 0 auto;
}

.form .btn {
	cursor: pointer;
}

/*Dark form*/

.form.dark {
	background: #334154;
	border-radius: 10px;
}

.form.dark p {
	color: white;
}

.form.dark .form-group label {
	color: white;
}

.form.dark .form-group input {
	background-color: rgba(0, 0, 0, .1);
	border-color: #677794;
	color: white;
}

@media all and (min-width: 800px) {

	.form-row {
		display: flex;
		justify-content: space-between;
	}

	.form-group {
		flex: 0 0 49%;
	}

}