/*Typography*/

img {
	text-decoration: none;
	border: 0px;
}

/*Layout*/

.row {
	display: block;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media all and (min-width: 1200px) {
	.column {
		float: left;
		width: 33%;
	}

	.double-column {
		float: left;
		width: 66%;
	}
}

/*Buttons*/

.btn {
	display: inline-block;
	text-align: center;
}

.btn > * {
	display: table-cell;
	width: auto;
	vertical-align: middle;
	white-space: nowrap;
}

.btn.arrow {
	padding: 3px;
}

/*Header*/

header.bg-wave {
	background-color: #8F5EA7;
}

@media all and (min-width: 1200px) {
	header .column {
		width: 50%;
	}
}

/*Navigation*/

@media all and (min-width: 1024px) {
	.nav ul {
		display: block;
	}

	.nav .item {
		float: left;
	}
}

/*Media*/

.media {
	display: table;
}

.media > * {
	display: table-cell;
	width: auto;
	vertical-align: middle;
	white-space: nowrap;
}

/*Form*/

.form-group {
	display: block;
}

.form-group > * {
	display: block;
	width: 100%;
}

@media all and (min-width: 800px) {
	.form-title {
		display: table;
	}

	.form-title > * {
		display: table-cell;
		width: auto;
		vertical-align: middle;
		white-space: nowrap;
	}

	.form-title > p {
		text-align: right;
	}

	.form-row {
		display: block;
	}

	.form-row:after {
		content: "";
		display: table;
		clear: both;
	}

	.form-row .form-group {
		float: left;
		width: 49%;
	}
}

/*Cards*/

.cards {
	display: block;
}

.cards:after {
	content: "";
	display: table;
	clear: both;
}

.card .content .btn.arrow {
	display: block;
}

.card.colour .footer {
	text-align: center;
}

@media all and (min-width: 800px) {
	.card {
		float: left;
		width: 45%;
	}

	.card.horizontal {
		display: block;
		width: 100%;
	}

	.card.horizontal > div {
		float: left;
		width: 45%;
	}
}

@media all and (min-width: 1200px) {
	.card {
		width: 30%;
	}

	.cards.two-column .card {
		width: 45%;
	}
}

/*Spotlight*/

.listing {
	display: block;
}

.listing:after {
	content: "";
	display: table;
	clear: both;
}

@media all and (min-width: 800px) {
	.spotlight {
		float: left;
		width: 45%;
	}

	.two-wide {
		width: 63%;
	}

	.listing .sidebar {
		width: 30%;
	}
}

@media all and (min-width: 1200px) {
	.spotlight {
		width: 30%;
	}

	.two-wide .spotlight {
		width: 45%;
	}
}

/*Statistics*/

.statistics {
	display: block;
}

.statistics:after {
	content: "";
	display: table;
	clear: both;
}

@media all and (min-width: 800px) {
	.statistic {
		float: left;
		width: 45%;
	}
}

@media all and (min-width: 1200px) {
	.statistic {
		width: 30%;
	}
}

/*Footer*/
footer .footer {
	display: block;
}

footer .footer:after {
	content: "";
	display: table;
	clear: both;
}

@media all and (min-width: 800px) {
	footer .footer div {
		float: left;
		width: 25%;
	}

	footer .copyright ul {
		display: table;
	}

	footer .copyright ul li {
		display: table-cell;
		width: auto;
		vertical-align: middle;
		white-space: nowrap;
	}

	footer .copyright .logo {
		width: 70%;
	}
}