/*Typography*/

img {
	text-decoration: none;
	border: 0px;
}

/*Layout*/

@media all and (min-width: 1200px) {
	.row {
		display: block;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	.column {
		float: left;
		width: 33%;
	}

	.double-column {
		float: left;
		width: 66%;
	}
}

/*Header*/

header.bg-wave {
	background-color: #8F5EA7;
}

@media all and (min-width: 1200px) {
	header .column {
		width: 50%;
	}
}

/*Navigation*/

@media all and (min-width: 1024px) {
	.nav ul {
		display: block;
	}

	.nav .item {
		float: left;
	}
}

/*Cards*/

.cards {
	display: block;
}

.cards:after {
	content: "";
	display: table;
	clear: both;
}

@media all and (min-width: 800px) {
	.card {
		float: left;
		width: 50%;
	}
}

@media all and (min-width: 1200px) {
	.card {
		width: 30%;
	}

	.cards.two-column .card {
		width: 50%;
	}
}