/*Typography*/

img {
	text-decoration: none;
	border: 0px;
}

/*Layout*/

.row {
	display: block;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media all and (min-width: 1200px) {
	.column {
		float: left;
		width: 33%;
	}

	.double-column {
		float: left;
		width: 66%;
	}
}

/*Buttons*/

.btn {
	display: inline-block;
	text-align: center;
}

.btn > * {
	display: table-cell;
	width: auto;
	vertical-align: middle;
	white-space: nowrap;
}

.btn.arrow {
	padding: 3px;
}

/*Header*/

header.bg-animation {
	background-color: #8F5EA7;
}

header .search .column .ms-choice span {
	top: 25%;
}

header .search .column #search-comp + .ms-parent .ms-drop ul > li:first-of-type label {
	display: table;
	width: 100%;
}

header .search .column #search-comp + .ms-parent .ms-drop ul > li:first-of-type label > * {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
}

header .search .column #search-comp + .ms-parent .ms-drop ul > li:first-of-type label::before {
	width: 99%;
}

header .search .column #search-comp + .ms-parent input[value='Clear'] {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

@media all and (min-width: 800px) {
	header .search .column {
		display: block;
		float: left;
		width: 50%;
	}

	header .search .column:last-of-type {
		display: table-cell;
		vertical-align: bottom;
		text-align: right;
	}
}

@media all and (min-width: 1200px) {
	header .column {
		width: 50%;
	}

	header .double-column + .column {
		width: 33%;
	}

	header .search .column {
		display: block;
		float: left;
		width: 28%;
	}

}

/*Tags*/

.tag {
	display: inline-block;
	text-align: center;
}

/*Navigation*/

.nav {
	width: 100%;
}

.nav .toggle a {
	display: table;
}

.nav .toggle a > * {
	display: table-cell;
	width: auto;
	vertical-align: middle;
	white-space: nowrap;
}

.nav .top-nav {
	margin: 0;
	padding: 0;
}

.nav .item.active {
	display: block;
}

.nav .item.search a {
	display: block;
}

.nav #search {
	display: block;
}

.nav #search.show input {
	float: left;
	width: 80%;
	margin-top: 5px;
}

.nav #search.show a {
	float: right;
	margin-top: 8px;
}

.main-nav ul li.active {
	display: block;
}

.main-nav ul li a.dropdown {
	display: block;
}

.main-nav ul li a.dropdown svg {
	float: right;
}

.main-nav ul li a.dropdown svg.arrow-up {
	display: none;
}

.main-nav ul li.current a.dropdown svg.arrow-down {
	display: none;
}

.main-nav ul li.current a.dropdown svg.arrow-up {
	display: inline-block;
}

.main-nav .sub-item {
	display: block;
}

@media all and (min-width: 1024px) {

	.nav {
		height: 138px;
	}

	.nav ul {
		display: block;
	}

	.nav .item, .nav .logo {
		float: left;
	}

	.nav .top-nav {
		float: right;
	}

	.nav .top-nav li.item {
		position: relative;
		left: 0;
		margin-top: 9px;
	}

	.nav .top-nav li.item.hide {
		left: -200px;
		opacity: 0;
		visibility: hidden;
	}

	.item.account.active {
		display: none;
	}

	.nav .item.search {
		float: right;
		margin-top: 28px;
	}

	.nav #search {
		height: 70px;
	}

	.nav #search.show input {
		width: 90%;
		margin-top: 15px;
	}

	.nav #search.show a {
		margin-top: 18px;
	}

	.nav .item.login {
		float: right;
	}

	.main-nav {
		position: absolute;
		display: block;
		top: 71px;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		border-bottom: 0;
	}

	.main-nav ul {
		display: table;
		margin: 0 auto;
	}

	.main-nav ul li.item {
		display: table-cell;
		width: 23%;
		margin-left: 0;
		margin-right: 0;
		vertical-align: middle;
		white-space: nowrap;
	}

	.main-nav ul li:hover .sub-nav {
		display: table;
	}

	.main-nav ul li a.dropdown svg {
		float: none;
	}

	.main-nav ul li.current a.dropdown svg.arrow-down {
		display: inline-block;
	}

	.main-nav ul li.current a.dropdown svg.arrow-up {
		display: none;
	}

	.main-nav ul li:hover a.dropdown svg.arrow-down {
		display: none;
	}

	.main-nav ul li:hover a.dropdown svg.arrow-up {
		display: inline-block;
	}

	.main-nav .sub-item {
		display: block;
		float: left;
		width: 100%;
	}

	.main-nav .sub-nav.double .sub-item {
		display: block;
		float: left;
		width: 50%;
	}

	.main-nav .sub-item a {
		display: block;
		min-height: 70px;
		white-space: normal;
	}
}

/*Breadcrumb*/

.breadcrumb ul {
	display: block;
}

.breadcrumb ul li {
	display: inline-block;
}

/*Media*/

.media {
	display: table;
}

.media > * {
	display: table-cell;
	width: auto;
	vertical-align: middle;
	white-space: nowrap;
}

/*Form*/

.form-group {
	display: block;
}

.form-group > * {
	display: block;
	width: 100%;
}

.form .form-error-message::before {
    top: 10px;
    transform: none;
}

@media all and (min-width: 800px) {
	.form-title {
		display: table;
	}

	.form-title > * {
		display: table-cell;
		width: auto;
		vertical-align: middle;
		white-space: nowrap;
	}

	.form-title h3 {
		width: 80%;
	}

	.form-row {
		display: block;
	}

	.form-row:after {
		content: "";
		display: table;
		clear: both;
	}

	.form-row .form-group {
		float: left;
		width: 49%;
	}

	.form-row .form-group:first-of-type {
		margin-right: 2%;
	}
}

/*Pagination*/

.pagination li {
	display: inline-block;
}

.pagination a {
	display: inline-block;
}

.pagination a.btn {
	margin-bottom: 0;
}

@media all and (min-width: 700px) {

	.pagination {
		display: block;
		height: 35px;
	}

	.pagination ul {
		display: inline-block;
		float: right;
	}

	.pagination-total {
		display: block;
	}

	.pagination-total p {
		display: inline-block;
	}

	.pagination-total .pagination {
		display: inline-block;
		float: right;
	}

}

/*Cards*/

.cards {
	display: block;
}

.cards:after {
	content: "";
	display: table;
	clear: both;
}

.card {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card .content .btn.arrow {
	display: block;
}

.card.colour .footer {
	text-align: center;
}

.card.icon .thumbnail {
	display: block;
}

.card.icon .thumbnail img {
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

@media all and (min-width: 800px) {
	.card {
		float: left;
		margin-left: 15px;
		margin-right: 15px;
		width: 45%;
	}

	.card .content {
		min-height: 150px;
	}

	.card.horizontal {
		display: block;
		margin: 0;
		width: 100%;
	}

	.card.horizontal > div {
		float: left;
		width: 40%;
	}
}

@media all and (min-width: 1200px) {
	.card {
		width: 30%;
	}

	.card.horizontal > div {
		width: 45%;
	}

	.cards.two-column .card {
		width: 45%;
	}
}

/*Accordion*/

.accordion .button {
	display: table;
	width: 100%;
}

.accordion .button > * {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
}

.accordion .button h4 {
	width: 99%;
}

.accordion .panel ol {
	padding-left: 55px;
}

/*Spotlight*/

.listing {
	display: block;
}

.listing:after {
	content: "";
	display: table;
	clear: both;
}

.spotlight {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.spotlight .thumbnail {
	display: block;
}

.spotlight .thumbnail img {
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.two-wide .spotlight .thumbnail {
	display: inline-block;
	margin-right: 30px;
	float: left;
}

.two-wide .spotlight .thumbnail img {
	margin: 0;
}

.two-wide .spotlight .content {
	min-height: 150px;
	text-align: left;
}

@media all and (min-width: 800px) {
	.spotlight {
		float: left;
		margin-left: 10px;
		margin-right: 10px;
		width: 45%;
	}

	.spotlight .content {
		min-height: 150px;
	}

	.two-wide {
		width: 63%;
	}

	.two-wide .spotlight {
		width: 100%;
	}

	.listing .sidebar {
		width: 30%;
	}
}

@media all and (min-width: 1200px) {
	.spotlight {
		width: 30%;
	}

	.two-wide .spotlight {
		width: 45%;
	}
}

/*Sidebar*/

.sidebar {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sidebar div a {
	display: inline-block;
}

@media all and (min-width: 800px) {
	.sidebar {
		display: inline-block;
	}
}

/*Statistics*/

.statistics {
	display: block;
}

.statistics:after {
	content: "";
	display: table;
	clear: both;
}

.statistic, .statistics.total .statistic {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media all and (min-width: 800px) {
	.statistic {
		float: left;
		margin-left: 15px;
		margin-right: 15px;
		width: 45%;
	}

	.statistics.total .statistic {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media all and (min-width: 1200px) {
	.statistic {
		width: 30%;
	}

	.statistics.total .statistic:first-of-type {
		display: block;
		float: left;
		width: 63%;
	}

	.statistics.total .statistic:first-of-type:after {
		content: "";
		display: table;
		clear: both;
	}

	.statistics.total .statistic:first-of-type > h3 {
		display: block;
		float: left;
		margin-bottom: 0;
		width: 25%;
		min-width: 210px;
	}

	.statistics.total .statistic:first-of-type > .detail {
		display: block;
		float: left;
		width: 65%;
		padding-top: 10px;
	}

	.statistics.total .statistic:last-of-type {
		display: block;
		float: left;
		width: 30%;
	}

	.statistics.total .statistic:last-of-type .btn {
		display: block;
	}

}

/*Timeline*/

@media all and (min-width: 800px) {
	.timeline {
		display: block;
		width: 100%;
	}

	.timeline .event {
		display: table;
		width: 100%;
	}

	.timeline .event .thumbnail {
		display: table-cell;
		width: 25%;
		padding-bottom: 30px;
	}

	.timeline .event .thumbnail img {
		max-width: 215px;
	}

	.timeline .event .content {
		display: table-cell;
		vertical-align: top;
	}
}

@media all and (min-width: 1200px) {
	.timeline .event .thumbnail img {
		max-width: 260px;
	}
}

/*Footer*/
footer .footer {
	display: block;
}

footer .footer:after {
	content: "";
	display: table;
	clear: both;
}

@media all and (min-width: 800px) {
	footer .footer div {
		float: left;
		width: 25%;
	}

	footer .copyright ul {
		display: table;
	}

	footer .copyright ul li {
		display: table-cell;
		width: auto;
		vertical-align: middle;
		white-space: nowrap;
	}

	footer .copyright .logo {
		width: 70%;
	}
}