section {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

section.p-sm-0 {
    padding-top: 0;
    padding-bottom: 0;
}

section.pt-sm-0 {
    padding-top: 0;
}

section.pb-sm-0 {
    padding-bottom: 0;
}

section.p-sm-1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

section.pt-sm-1 {
    padding-top: 30px;
}

section.pb-sm-1 {
    padding-bottom: 30px;
}

section.p-sm-2 {
    padding-top: 60px;
    padding-bottom: 60px;
}

section.pt-sm-2 {
    padding-top: 60px;
}

section.pb-sm-2 {
    padding-bottom: 60px;
}

.bg-light {
    background-color: #F6F9FC;
}

.bg-purple {
    background-color: #8F5EA7;
}

.bg-blue {
    background-color: #334154;
}

.bg-white {
    background-color: white;
}

.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1;
}

.column {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.column.mb-0 {
    margin-bottom: 0;
}

.double-column {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

svg.svg-divider {
    display: block;
    width: 100%;
    height: auto;
}

section svg.svg-divider {
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.divider-curve {
    display: none;
}

svg.white {
    fill: white;
}

svg.grey {
    fill: #F6F9FC;
}

svg.purple {
    fill: #8F5EA7;
}

@media all and (min-width: 800px) {
    section.p-md-1 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    section.pt-md-1 {
        padding-top: 30px;
    }

    section.pb-md-1 {
        padding-bottom: 30px;
    }

    section.p-md-2 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    section.pt-md-2 {
        padding-top: 60px;
    }

    section.pb-md-2 {
        padding-bottom: 60px;
    }

    section.p-md-3 {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    section.pt-md-3 {
        padding-top: 90px;
    }

    section.pb-md-3 {
        padding-bottom: 90px;
    }

    section.p-md-4 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    section.pt-md-4 {
        padding-top: 120px;
    }

    section.pb-md-4 {
        padding-bottom: 120px;
    }

    .container {
        width: 740px;
    }
}

@media all and (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        flex-basis: 100%;
        flex: 1;
    }

    .column.border-right {
        border-right: 1px solid #677794;
    }

    .double-column {
        flex-basis: 100%;
        flex: 2;
    }

}