.nav {
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.nav ul {
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav li {
  padding: 15px 5px;
  font-size: 15px;
  font-weight: 600;
}

.nav a {
  text-decoration: none;
}

.nav i {
  font-size: 28px;
  line-height: 0.6;
}

.nav .toggle {
  position: absolute;
  top: 0;
  left: 10px;
}

.nav .toggle a {
  display: flex;
  align-items: center;
}

.nav .toggle i {
  padding-right: 10px;
  color: #334154;
}

.nav .logo img {
  width: 98px;
  height: auto;
}

.nav .item {
  display: none;
  margin-left: 12px;
  margin-right: 12px;
  width: 100%;
}

.nav .item.active {
  display: flex;
}

.nav .item a {
  color: #334154;
}

.nav .item a:hover, .nav .item a:hover span {
  text-decoration: underline;
}

.nav .item.login a:hover, .nav .item.search a:hover, .nav .item.account a:hover {
  text-decoration: none;
}

.nav .item.search {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  margin-left: inherit;
  margin-right: inherit;
  padding: 16px 5px;
  width: inherit;
}

.nav .item.search a {
  display: flex;
  align-items: center;
}

.nav #search {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  right: 0;
  height: 50px;
  width: 0;
  padding: 0 5px;
  background-color: white;
  z-index: 1000;
  transition: all .4s;
}

.nav #search.show {
  width: 100%;
}

.nav #search input {
  display: none;
  flex: 1;
  padding: 10px;
  border: 0;
  width: 0;
  font-family: inherit;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.nav #search.show input {
  display: block;
}

.nav #search a {
  display: none;
}

.nav #search.show a {
  display: block;
}

.nav #search i {
  padding: 10px;
  color: #334154;
}

.nav .item.login {
  border-top: 1px solid #D5D5D5;
}

.nav .item.login .btn, .nav .item.account .btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: inherit;
  border: none;
  box-shadow: inherit;
}

.nav .item.login i, .nav .item.account i {
  padding-right: 15px;
  color: #334154;
}

.nav .item.login span, .nav .item.account span {
  color: #8F5EA7;
  font-size: 18px;
  font-weight: 600;
}

.nav .item.account {
  border-bottom: 1px solid #D5D5D5;
}

.main-nav ul {
  position: relative;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  display: none;
  font-family: 'Zilla Slab', serif;
  font-size: 24px;
  font-weight: 500;
}

.main-nav ul li.active {
  display: flex;
  flex-direction: column;
}

.main-nav ul li.item a {
  color: #8F5EA7;
  text-decoration: none;
}

.main-nav ul li.item a:hover {
  color: #334154;
}

.main-nav ul li a.dropdown {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav ul li a.dropdown svg {
  width: 24px;
  height: 24px;
}

.main-nav ul li a.dropdown svg.arrow-up {
  display: none;
}

.main-nav ul li.current a.dropdown svg.arrow-down {
  display: none;
}

.main-nav ul li.current a.dropdown svg.arrow-up {
  display: block;
}

.main-nav .sub-nav {
  max-height: 0;
  min-width: 0;
  margin-bottom: 0;
  background-color: #fff;
  transition: all .3s ease;
  overflow: hidden;
  z-index: 1;
}

.main-nav .sub-nav-wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.main-nav ul li.current .sub-nav {
  max-height: 1000px;
}

.main-nav .sub-item {
  display: inline-flex;
  flex: 0 0 100%;
  padding: 15px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

@media all and (min-width: 1200px) {

  .nav .item {
    order: 1;
    display: block;
    width: auto;
    text-align: center;
  }

  .nav > ul > li.item {
    position: relative;
    left: 0;
    transition: all .4s;
  }

  .nav > ul > li.item.hide {
    left: -200px;
    opacity: 0;
    visibility: hidden;
  }

  .nav .toggle {
    display: none;
  }

  .nav .logo {
    order: 0;
    flex: 1 0 auto;
    margin-left: 20px;
  }

  .nav .logo img {
    width: 150px;
  }

  .nav .item.search {
    order: 3;
    display: inherit;
    position: inherit;
    top: inherit;
    right: inherit;
    margin-left: 10px;
    margin-right: 20px;
    padding: inherit;
  }

  .nav #search {
    height: 72px;
  }

  .nav #search.show {
    width: 500px;
  }

  .nav .item.login {
    order: 2;
    border: inherit;
  }

  .nav .item.account {
    display: none;
  }

  .nav .item.login .btn {
    color: white;
    padding: 10px 40px;
    background-color: #8F5EA7;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }

  .nav .item.login .btn:hover {
    background-color: #334154;
  }

  .nav .item.login .btn:hover span {
    text-decoration: underline;
  }

  .nav .item.login i {
    display: none;
  }

  .nav .item.login span {
    color: white;
    font-size: 15px;
  }

  .main-nav {
    order: 4;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
  }

  .main-nav ul {
    position: relative;
    display: flex;
    width: 1140px;
  }

  .main-nav ul li {
    position: relative;
    display: flex;
    flex: 1;
    text-align: center;
  }

  .main-nav ul li:hover .sub-nav {
    display: flex;
  }

  .main-nav ul li:hover a.dropdown:before {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border: 9px solid transparent;
    border-bottom-color: white;
    z-index: 3;
  }

  .main-nav ul li:hover a.dropdown:after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border: 9px solid transparent;
    border-bottom-color: #D5D5D5;
    z-index: 2;
  }

  .main-nav ul li.current a.dropdown svg.arrow-down {
    display: block;
  }

  .main-nav ul li.current a.dropdown svg.arrow-up {
    display: none;
  }

  .main-nav ul li:hover a.dropdown svg.arrow-down {
    display: none;
  }

  .main-nav ul li:hover a.dropdown svg.arrow-up {
    display: block;
  }

  .main-nav ul li a {
    position: relative;
    flex: 1;
  }

  .main-nav ul li a.dropdown {
    justify-content: center;
  }

  .main-nav .sub-nav {
    position: absolute;
    display: none;
    top: 67px;
    width: 200%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .main-nav .sub-nav .sub-nav-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav ul li:last-of-type .sub-nav {
    right: 0;
  }

  .main-nav ul li:hover .sub-nav {
    max-height: 1000px;
  }

  .main-nav .sub-item {
    flex-basis: 50%;
    padding: 0;
  }

  .main-nav .sub-item a {
    margin: 0 15px;
    padding: 10px 0;
    font-size: 15px;
    border-bottom: 1px solid #D5D5D5;
  }

  .main-nav .sub-item:last-of-type a, .main-nav .sub-item:nth-last-child(2):nth-child(odd) a {
    border-bottom: 0;
  }

}
