/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.nav ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.nav li {
  padding: 15px 5px;
  font-size: 15px;
  font-weight: 600;
}

.nav a {
  text-decoration: none;
}

.nav i {
  font-size: 28px;
  line-height: 0.6;
}

.nav .toggle {
  position: absolute;
  top: 0;
  left: 10px;
}

.nav .toggle a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .toggle i {
  padding-right: 10px;
  color: #334154;
}

.nav .logo img {
  width: 98px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.nav .item {
  display: none;
  margin-left: 8px;
  margin-right: 8px;
  width: 100%;
}

.nav .item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .item a {
  color: #334154;
}

.nav .item a:hover, .nav .item a:hover span {
  text-decoration: underline;
}

.nav .item.login a:hover, .nav .item.search a:hover, .nav .item.account a:hover {
  text-decoration: none;
}

.nav .item.search {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  margin-left: inherit;
  margin-right: inherit;
  padding: 16px 5px;
  width: inherit;
}

.nav .item.search a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav #search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  height: 50px;
  width: 0;
  padding: 0 5px;
  background-color: white;
  z-index: 1000;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.nav #search.show {
  width: 100%;
}

.nav #search input {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  border: 0;
  width: 0;
  font-family: inherit;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.nav #search input:focus {
  outline: 1px solid #8F5EA7;
}

.nav #search.show input {
  display: block;
}

.nav #search a {
  display: none;
}

.nav #search.show a {
  display: block;
}

.nav #search i {
  padding: 10px;
  color: #334154;
}

.nav .item.login {
  border-top: 1px solid #D5D5D5;
}

.nav .item.login .btn, .nav .item.account .btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: inherit;
  border: none;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

.nav .item.login i, .nav .item.account i {
  padding-right: 15px;
  color: #334154;
}

.nav .item.login span, .nav .item.account span {
  color: #8F5EA7;
  font-size: 18px;
  font-weight: 600;
}

.nav .item.account {
  border-bottom: 1px solid #D5D5D5;
}

.nav ul li.main-nav {
  padding: 0;
}

.main-nav ul {
  position: relative;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  display: none;
  font-family: 'Zilla Slab', serif;
  font-size: 24px;
  font-weight: 500;
}

.main-nav ul li.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-nav ul li.item a {
  color: #8F5EA7;
  text-decoration: none;
}

.main-nav ul li.item a:hover {
  color: #334154;
}

.main-nav ul li a.dropdown {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav ul li a.dropdown svg {
  width: 24px;
  height: 24px;
}

.main-nav ul li a.dropdown svg.arrow-up {
  display: none;
}

.main-nav ul li.current a.dropdown svg.arrow-down {
  display: none;
}

.main-nav ul li.current a.dropdown svg.arrow-up {
  display: block;
}

.main-nav .sub-nav {
  max-height: 0;
  min-width: 0;
  margin-bottom: 0;
  background-color: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;
  z-index: 1;
}

.main-nav ul li.current .sub-nav {
  max-height: 1000px;
}

.main-nav .sub-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 15px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

@media all and (min-width: 1024px) {

  .nav {
    position: absolute;
  }

  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .nav .item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
    width: auto;
    text-align: center;
  }

  .nav > ul > li.item {
    position: relative;
    left: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
  }

  .nav > ul > li.item.hide {
    left: -200px;
    opacity: 0;
    visibility: hidden;
  }

  .nav .toggle {
    display: none;
  }

  .nav .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-left: 20px;
  }

  .nav .logo img {
    width: 150px;
    margin-left: inherit;
    margin-right: inherit;
  }

  .nav .item.search {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: inherit;
    position: inherit;
    top: inherit;
    right: inherit;
    margin-left: 10px;
    margin-right: 15px;
    padding: inherit;
  }

  .nav #search {
    height: 72px;
  }

  .nav #search.show {
    width: 500px;
  }

  .nav .item.login {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border: inherit;
  }

  .nav .item.account {
    display: none;
  }

  .nav .item.login .btn {
    color: white;
    padding: 10px 30px;
    background-color: #8F5EA7;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1);
            box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }

  .nav .item.login .btn:hover {
    background-color: #334154;
  }

  .nav .item.login .btn:hover span {
    text-decoration: underline;
  }

  .nav .item.login i {
    display: none;
  }

  .nav .item.login span {
    color: white;
    font-size: 15px;
  }

  .main-nav {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
  }

  .main-nav ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 1140px;
  }

  .main-nav ul li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }

  .main-nav ul li:hover .sub-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .main-nav ul li:hover a.dropdown:before {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 50%;
    width: 0;
    height: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 9px solid transparent;
    border-bottom-color: white;
    z-index: 3;
  }

  .main-nav ul li:hover a.dropdown:after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 50%;
    width: 0;
    height: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 9px solid transparent;
    border-bottom-color: #D5D5D5;
    z-index: 2;
  }

  .main-nav ul li.current a.dropdown svg.arrow-down {
    display: block;
  }

  .main-nav ul li.current a.dropdown svg.arrow-up {
    display: none;
  }

  .main-nav ul li:hover a.dropdown svg.arrow-down {
    display: none;
  }

  .main-nav ul li:hover a.dropdown svg.arrow-up {
    display: block;
  }

  .main-nav ul li a {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .main-nav ul li a.dropdown {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-nav .sub-nav {
    position: absolute;
    display: none;
    top: 67px;
    left: -15px;
    width: 350%;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .main-nav ul li:last-of-type .sub-nav {
    right: 0;
  }

  .main-nav ul li:hover .sub-nav {
    max-height: 1000px;
  }

  .main-nav .sub-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    padding: 0;
  }

  .main-nav .sub-item a {
    margin: 0 20px;
    padding: 10px 0;
    border-bottom: 1px solid #D5D5D5;
  }

  .main-nav .sub-item:nth-child(even) a {
    margin-left: 10px;
  }  

  .main-nav .sub-item:last-of-type a, .main-nav .sub-item:nth-last-child(2):nth-child(odd) a {
    border-bottom: 0;
  }

}