.pagination ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.pagination li {
	margin: 0 5px;
}

.pagination li:first-of-type {
	margin-right: 12px;
}

.pagination li:last-of-type {
	margin-left: 12px;
}

.pagination a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	background-color: #EBEBEB;
	box-sizing: border-box;
	border: 2px solid #EBEBEB;
	border-radius: 50% 50%;
	color: #8F5EA7;
	text-decoration: none;
	text-align: center;
	transition: all .4s;
}

.pagination a:hover {
	background-color: #334154;
	border: 2px solid #334154;
	color: #fff;
	font-weight: bold;
}

.pagination li:first-of-type a:hover, .pagination li:last-of-type a:hover {
	background-color: transparent;
	color: #334154;
	border-color: #334154;
}

.pagination a[aria-current="page"] {
	background-color: #334154;
	border: 2px solid #334154;
	color: #fff;
	font-weight: bold;
}

.pagination a img {
	margin: 0;
	width: 17px;
	height: 16px;
}

.pagination-total p {
	color: #334154;
}

@media all and (min-width: 700px) {

	.pagination {
		display: flex;
		justify-content: flex-end;
	}

	.pagination-total {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

}