/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #334154;
    font-family: 'Zilla Slab', serif;
    line-height: 1.2;
}

h1 {
    font-size: 28px;
}

h1.large {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

a {
    color: #8F5EA7;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

a:hover {
    color: #334154;
    text-decoration: none;
}

a.zoom {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

a.zoom i {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 8px;
    border-radius: 4px;
    background-color: #334154;
    color: white;
    font-size: 36px;
}

a.zoom img {
    border: 1px solid #F5F7FA;
}

pre {
    white-space: pre-wrap; 
}

code {
    display: inline-block;
    padding: 10px;
    background: lemonchiffon;
}

img {
    display: block;
    max-width: 100%;
}

ul, ol {
    padding-left: 20px;
    margin-left: 0;
}

hr {
    width: 100%;
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #CACACA;
}

.small {
    font-size: 12px;
}

.large {
    font-size: 40px;
}

.text-center {
    text-align: center;
}

.text-white, .text-white a {
    color: white;
}

.date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
}

.date i {
    padding-right: 8px;
    color: #576784;
}

@media all and (min-width: 1200px) {
    h1 {
        font-size: 42px;
    }

    h1.large {
        font-size: 50px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }
}