body {
	margin: 0;
}

.svg-wrapper {
	position: absolute; 
	bottom: 0;
	height: 0; 
	width: 100%; 
	padding: 0;
	padding-bottom: 22.43%; 
}

header {
	position: relative;
	height: 700px;
	background-image: linear-gradient(to top right, #5F3483, #943791);
	overflow: hidden;
}

header .svg-wave {
	position: absolute; 
	bottom: 0;
	height: 0; 
	width: 100%; 
	padding: 0;
	padding-bottom: 22.43%;
}

header svg.svg-divider, header svg[class^=wave] {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
}

header svg#circles {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

header svg#letters {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

header svg#timeline {
	position: absolute;
	height: 100%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

section {
	position: relative;
	height: 500px;
}

section svg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
}

svg {
	display: block;
}

.white {
	fill: white;
}

.grey {
	fill: #F6F9FC;
}

.bg-white {
	background-color: white;
}

.bg-grey {
	background-color: #F6F9FC;
}

.wave-morph1, .wave-morph2, .wave-morph3, .divider-curve {
	display: none;
}

#divider-alt #line {
	visibility: hidden;
}

@media all and (min-width: 1200px) {
	header svg#timeline {
		height: auto;
		min-width: 100%;
		min-height: 100%;
	}
}