/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*Base card*/

.cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.cards > a {
	text-decoration: none;
}

.card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 10px 15px 20px;
	width: 100%;
	max-width: 400px;
	background: white;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.15);
	box-shadow: 0 3px 5px rgba(0,0,0,.15);
	-webkit-transition: -webkit-box-shadow .4s;
	transition: -webkit-box-shadow .4s;
	-o-transition: box-shadow .4s;
	transition: box-shadow .4s;
	transition: box-shadow .4s, -webkit-box-shadow .4s;
}

a.card:hover {
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,.15);
	box-shadow: 0 10px 10px rgba(0,0,0,.15);
}

.card .curve {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 101%;
	height: 101%;
	fill: #8F5EA7;
}

.card .thumbnail {
	position: relative;
	width: 100%;
	padding-top: 63.5%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	overflow: hidden;
}

.card .thumbnail img, .card .thumbnail .plyr {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.card .content {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 20px 30px;
}

.card .content h3 {
	margin-bottom: 10px;
	color: #334154;
	font-size: 24px;
	font-weight: 500;
}

.card .content h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.card .content p {
	color: #334154;
	font-size: 14px;
}

.card:hover .content span.btn {
	text-decoration: underline;
}

.card a {
	text-decoration: none;
}

.card a:hover {
	text-decoration: underline;
}

.card .btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.card .icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.card .icon i {
	padding-right: 8px;
	color: #576784;
}

/*Base card with forward arrow button*/

.card .footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
	padding: 0 20px 10px;
	overflow: hidden;
}

.card .footer .btn.arrow {
	font-size: 24px;
	font-weight: normal;
}

.card .footer .detail {
	width: 100%;
}

.card .footer .detail p {
	font-size: 16px;
}

.card:hover .footer .btn.arrow {
	border-color: #334154;
	color: #334154;
}

/*Base card with tag and heading*/

.card .content .tag {
	margin-bottom: 10px;
}

.card .content h4 {
	margin-bottom: 10px;
	color: #334154;
	font-size: 20px;
}

/*Base card with horizontal layout*/

.card.horizontal {
	border-radius: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
}

.card.horizontal .thumbnail {
	padding-top: 0;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
}

.card.horizontal .thumbnail .plyr {
	position: relative;
}

.card.horizontal .content {
	padding: 20px 0;
}

.card.horizontal .content h3 {
	font-size: 28px;
}

.card.horizontal .content .btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px;
}

/*Colour cards*/ 

.card.colour {
	background-color: #8F5EA7;
}

.card.colour .thumbnail h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 48%;
	color: white;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.card.colour .content {
	padding: 0 30px 20px;
}

.card.colour .content h3 {
	color: white;
	font-size: 28px;
}

.card.colour .content p {
	color: white;
	font-size: 16px;
}

.card.colour .content .btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px;
}

.card.colour .footer {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 5px 0;
	background-color: rgba(0,0,0,.2);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

.card.colour .footer p {
	color: white;
	font-size: 18px;
	font-weight: 600;
}

.card.colour .footer .btn.arrow {
	position: absolute;
	top: 18px;
	right: 15px;
	border-color: white;
	color: white;
	font-size: 24px;
	font-weight: normal;
}

.card.colour:hover .footer .btn.arrow {
	background-color: white;
	color: #334154;
}

/*Colour cards - alternate version*/

.card.colour.alternate .content p {
	font-size: 17px;
}

/*Icon cards*/

.card.icon .thumbnail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0;
	height: 140px;
}

.card.icon .thumbnail img {
	position: relative;
	width: 90px;
	height: 90px;
}

.card.icon .content {
	padding: 0 30px 20px;
}

/*Event cards*/

.card.event .content {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}

.card.event .content h3 {
	color: #8F5EA7;
}

.card.event .detail {
	border-bottom: 1px solid #D5D5D5;
}

.card.event .detail p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.card.event .detail i {
	margin-right: 10px;
}

.card.event .footer {
	-webkit-box-pack: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	padding: 0 30px 20px;
}

.card.event .footer .tag {
	margin: 3px;
}

/*Calendar cards*/

.card.calendar .content {
	padding: 20px 30px 10px;
}

.card.calendar .content h3 {
	color: #8F5EA7;
}

.card.calendar .thumbnail .date {
	position: absolute;
	display: block;	
	right: 30px;
	bottom: 25px;
	border-radius: 10px;
	text-align: center;
}

.card.calendar .thumbnail .date h3 {
	margin: 0;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.1;
}

.card.calendar .thumbnail .date h3 strong {
	display: block;
}

.card.calendar .thumbnail .date h3 .day {
	font-size: 54px;
	line-height: 0.9;
}

.card.calendar .thumbnail .date h3 .month {
	font-size: 27px;
}

.card.calendar .footer {
	display: block;
	padding: 0 30px 20px;
}

.card.calendar .detail {
	padding-top: 10px;
	border-top: 1px solid #CACACA;
}

.card.calendar .detail p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #334154;
	font-size: 14px;
}

.card.calendar .detail i {
	margin-right: 10px;
}

/*Calendar cards - date with background*/

.card.calendar.date-bg .date {
	right: 20px;
	bottom: 20px;
	padding: 8px 18px;
	background-color: #8F5EA7;
}

/*Calendar cards - date with white background and no image*/

.card.calendar.no-image {
	background-color: #8F5EA7;
}

.card.calendar.no-image .date h3 {
	color: #8F5EA7;
}

.card.calendar.no-image h3 {
	color: white;
}

.card.calendar.no-image p {
	color: white;
}

.card.calendar.no-image .thumbnail {
	padding: 30px 30px 0;
}

.card.calendar.no-image .date {
	position: relative;
	display: inline-block;
	right: auto;
	bottom: auto;
	padding: 8px 18px;
	background-color: white;
}

/*Calendar cards - date left side*/

.card.calendar.no-image.date-left .thumbnail {
	padding-left: 0;
}

.card.calendar.no-image.date-left .date {
	padding-left: 30px;
	padding-right: 30px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: rgba(0,0,0,0.3);
}

.card.calendar.no-image.date-left .date h3 {
	color: white;
}

/*Calendar cards - date right side*/

.card.calendar.no-image.date-right .thumbnail {
	padding-right: 0;
}

.card.calendar.no-image.date-right .thumbnail > h3 {
	font-size: 24px;
	font-weight: 500;
}

.card.calendar.no-image.date-right .date {
	float: right;
	margin-left: 15px;
	padding-left: 30px;
	padding-right: 30px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-color: rgba(0,0,0,0.2);
}

.card.calendar.no-image.date-right .date h3 {
	color: white;
}

.card.calendar.no-image.date-right .content {
	padding-top: 0;
}

/*Calendar cards - horizontal*/

.card.calendar.horizontal {
	margin-bottom: 20px;
	background-color: white;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.15);
	box-shadow: 0 3px 5px rgba(0,0,0,.15);
}

a.card.calendar.horizontal:hover {
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,.15);
	box-shadow: 0 10px 10px rgba(0,0,0,.15);
}

.card.calendar.horizontal .date {
	padding: 8px 18px;
	background-color: #8F5EA7;
	border-radius: 5px;
	color: white;
}

.card.calendar.horizontal .date h3 {
	color: white;
}

.card.calendar.horizontal .date h3 strong {
	display: inline-block;
}

.card.calendar.horizontal .date h3 .day {
	font-size: 24px;
	line-height: 1.1;
}

.card.calendar.horizontal .date h3 .month {
	font-size: 24px;
	line-height: 1.1;
}

.card.calendar.horizontal .date h3 .year {
	display: none;
}

.card.calendar.horizontal h3 {
	color: #8F5EA7;
	font-size: 24px;
}

.card.calendar.horizontal .detail {
	padding-top: 0;
	border-top: 0;
	border-bottom: 1px solid #CACACA;
}

.card.calendar.horizontal p {
	color: #334154;
	font-size: 14px;
}

.card.calendar.horizontal .btn-wrapper .btn {
	width: 30px;
	height: 30px;
	text-decoration: none;
}

.card.calendar.horizontal:hover .btn-wrapper .btn {
	border-color: #334154;
}

.card.calendar.horizontal .btn-wrapper .btn i {
	font-size: 20px;
}

/*Detail cards*/

.card.detail {
	margin: 30px 0;
	padding: 15px 30px;
	border-radius: 10px;
	background-color: #F5F7FA;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.card.detail div p:nth-of-type(1) {
	-ms-flex-preferred-size: 20%;
	flex-basis: 20%;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	font-weight: bold;
}

.card.detail div p {
	margin: 12px 0;
}

.card.detail a.map-link {
	margin: 0 15px;
	font-size: 14px;
	text-decoration: underline;
}

.card.detail a.map-link:hover {
	text-decoration: none;
}

/*Detail cards - alternate */

.card.detail.alternate {
	padding: 30px;
}

.card.detail.alternate > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.card.detail.alternate > div:nth-of-type(1) {
	padding-bottom: 20px;
	border-bottom: 1px solid #CACACA;
}

.card.detail.alternate > div:nth-of-type(2) {
	padding-top: 20px;
}

.card.detail.alternate > div > div p:nth-of-type(1) {
	margin: 5px 0;
	font-size: 14px;
}

.card.detail.alternate > div > div p:nth-of-type(2) {
	margin: 5px 0;
	font-size: 20px;
}

.card.detail.alternate i {
	padding-right: 20px;
	font-size: 41px;
	color: #576784;
}

/*Resource cards*/

.card.resource .detail {
	border-top: 1px solid #D5D5D5;
}

.card.resource .footer {
	-webkit-box-pack: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	padding: 0 30px 20px;
}

/*Standalone card*/

.card.one-column {
	max-width: 400px;
	margin: 0 0 30px;
}

@media all and (min-width: 800px) {

	/*Base card*/

	.cards {
		margin-bottom: 20px;
	}

	.cards.left {
		-webkit-box-pack: left;
		-ms-flex-pack: left;
		justify-content: left;
	}

	.card {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 45%;
		flex: 0 1 45%;
		max-width: inherit;
	}

	/*Base cards - horizontal layout*/

	.card.horizontal {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-flex: 0;
		-ms-flex: none;
		flex: none;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 0;
		max-width: inherit;
	}

	.card.horizontal > div {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 45%;
		flex: 0 1 45%;
		margin: 10px 25px;
	}

	.card.horizontal .thumbnail .plyr {
		height: inherit;
	}

	.card.horizontal .content {
		padding: 0;
	}

	.card.horizontal .content h3 {
		font-size: 36px;
	}

	.card.horizontal .content p {
		font-size: 18px;
	}

	.card.horizontal .content .btn {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		margin: 0;
		padding: 10px 40px;
	}

	/*Calendar cards - horizontal*/

	.card.calendar.horizontal .thumbnail {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 130px;
		        flex: 0 0 130px;
		margin: 0;
		padding: 0;
		border-radius: 10px 0 0 10px;
	}

	.card.calendar.horizontal .date {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border-radius: 10px 0 0 10px;
	}

	.card.calendar.horizontal .date h3 .day {
		font-size: 54px;
		line-height: 0.9;
	}

	.card.calendar.horizontal .date h3 .month {
		font-size: 27px;
	}

	.card.calendar.horizontal .date h3 .year {
		display: block;
	}

	.card.calendar.horizontal .content {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 auto;
		        flex: 0 1 auto;
		padding: 10px 0;
	}

	.card.calendar.horizontal .detail {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		border-bottom: 0;
	}

	.card.calendar.horizontal .detail p {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 50%;
		flex: 1 0 50%;
		margin: 5px 0;
	}

	.card.calendar.horizontal h3 {
		font-size: 24px;
	}

	.card.calendar.horizontal p {
		font-size: 14px;
	}

	.card.calendar.horizontal .btn-wrapper .btn {
		margin: 10px;
		padding: 10px;
	}

	/*Detail cards*/

	.card.detail > div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: flex-start;
		-ms-flex-align: flex-start;
		align-items: flex-start;
	}

	.card.detail.alternate {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.card.detail.alternate > div {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
	}

	.card.detail.alternate > div:nth-of-type(1) {
		padding-bottom: 0;
		border-bottom: 0;
	}

	.card.detail.alternate > div:nth-of-type(2) {
		padding-top: 0;
	}

	.card.detail.alternate > div:nth-of-type(1) {
		margin-right: 10px;
		border-right: 1px solid #CACACA;
	}

	.card.detail.alternate > div:nth-of-type(2) {
		margin-left: 10px;
	}
}

@media all and (min-width: 1024px) {

	/*Base card*/

	.card {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 30%;
		flex: 0 1 30%;
	}

	.cards.two-column {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.cards.two-column .card {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 45%;
		flex: 0 1 45%;
		margin: 10px 24px;
	}

	/*Base cards - horizontal layout*/

	.card.horizontal > div {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 45%;
		flex: 0 1 45%;
	}

	/*Colour card*/

	.card.colour .content h3 {
		font-size: 34px;
	}

	/*Calendar cards - horizontal*/

	.card.calendar.horizontal .detail {
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
	}

	.card.calendar.horizontal .detail p {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
	}

	.card.calendar.horizontal .detail p:not(:first-of-type) {
		margin-left: 20px;
	}

	/*Calendar cards - horizontal alternate*/

	.card.calendar.horizontal.alternate .content h3 {
		display: inline-block;
	}

	.card.calendar.horizontal.alternate .detail {
		display: block;
		float: right;
		margin-left: 30px;
		width: 250px;
		height: 100%;
		border-left: 1px solid #CACACA;
	}

	.card.calendar.horizontal.alternate .detail p {
		margin: 15px 0 15px 30px;
	}
}

@media all and (min-width: 1200px) {
	.cards.two-column .card {
		margin: 10px 25px;
	}
}