/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

header.hero {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #F6F9FC;
	font-size: 18px;
}

header.hero.bg-light {
	background-color: #f6f6f7;
}

header.hero.bg-dark {
	background: -o-linear-gradient(bottom, rgba(51, 72, 84, 0.8), rgba(51, 72, 84, 0.9)), url('../../assets/header.jpg') no-repeat center center;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 72, 84, 0.8)), to(rgba(51, 72, 84, 0.9))), url('../../assets/header.jpg') no-repeat center center;
	background: linear-gradient(0deg, rgba(51, 72, 84, 0.8), rgba(51, 72, 84, 0.9)), url('../../assets/header.jpg') no-repeat center center;
	background-size: cover;
}

header.hero .container {
	position: relative;
}

header.hero .double-column p:first-of-type {
	margin-top: 0;
}