/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

header {
	position: relative;
	min-height: 500px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #F6F9FC;
	font-size: 18px;
}

header.pb-0 {
	padding-bottom: 0;
}

header.lg {
	min-height: 700px;
}

header.bg-light {
	background-color: #f6f6f7;
}

header.bg-dark {
	background: -o-linear-gradient(bottom, rgba(51, 72, 84, 0.8), rgba(51, 72, 84, 0.9)), url('../../assets/header.jpg') no-repeat center center;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 72, 84, 0.8)), to(rgba(51, 72, 84, 0.9))), url('../../assets/header.jpg') no-repeat center center;
	background: linear-gradient(0deg, rgba(51, 72, 84, 0.8), rgba(51, 72, 84, 0.9)), url('../../assets/header.jpg') no-repeat center center;
	background-size: cover;
}

header.bg-animation {
	background-image: -o-linear-gradient(bottom left, #5F3483, #943791);
	background-image: -webkit-gradient(linear, left bottom, right top, from(#5F3483), to(#943791));
	background-image: linear-gradient(to top right, #5F3483, #943791);
	overflow: hidden;
}

header svg#circles {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

header svg#letters {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

header svg#timeline {
	position: absolute;
	height: 100%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

header .container {
	position: relative;
}

header .double-column p:first-of-type {
	margin-top: 0;
}

/*Header with search*/

header .search {
	z-index: 2;
	position: relative;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

header .search .column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

header .search .column > label {
	display: block;
	margin-bottom: 10px;
	color: white;
	font-size: 14px;
	font-weight: 600;
}

header .search .column > input {
	display: block;
	padding: 10px 15px;
	width: 100%;
	border: 1px solid #757D8C;
	border-radius: 4px;
	color: #334154;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

header .search .column > input:focus {
	outline: 1px solid #8F5EA7;
}

header .search .column > input::-webkit-input-placeholder {
	color: #576784;
	opacity: 1; /* Firefox */
}

header .search .column > input::-moz-placeholder {
	color: #576784;
	opacity: 1; /* Firefox */
}

header .search .column > input:-ms-input-placeholder {
	color: #576784;
	opacity: 1; /* Firefox */
}

header .search .column > input::-ms-input-placeholder {
	color: #576784;
	opacity: 1; /* Firefox */
}

header .search .column > input::placeholder {
	color: #576784;
	opacity: 1; /* Firefox */
}

header .search .column > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #576784;
}

header .search .column > input::-ms-input-placeholder { /* Microsoft Edge */
	color: #576784;
}

/*Header with search - SilverStripe markup*/

header .search.filter fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

header .search.filter fieldset > div, header .search.filter .btn-toolbar {
	margin-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

header .search.filter fieldset div > label {
	display: block;
	margin-bottom: 10px;
	color: white;
	font-size: 14px;
	font-weight: 600;
}

header .search.filter fieldset div > div > input {
	display: block;
	padding: 10px 15px;
	width: 100%;
	border: 1px solid #757D8C;
	border-radius: 4px;
	color: #334154;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

header .search.filter fieldset div > div > input[type="date"] {
	height: 45px;
}

header .search.filter fieldset div > div > input:focus {
	outline: 1px solid #8F5EA7;
}

header .search.filter .btn-toolbar input {
	display: block;
	padding: 10px 25px;
	width: 100%;
	background-color: #8F5EA7;
	border-radius: 4px;
	border: 1px solid #8F5EA7;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1);
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	vertical-align: middle;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

header .search.filter .btn-toolbar input:hover {
	border-color: white;
	background-color: white;
	color: #334154;
	text-decoration: underline;
}

/*Multiple Select - including SilverStripe markup*/

header .search .column .ms-parent, header .search.filter fieldset .ms-parent {
	display: block;
	font-size: 16px;
}

header .search .column .ms-choice, header .search.filter fieldset .ms-choice {
	height: 45px;
}

header .search .column .ms-choice > div.icon-caret, header .search.filter fieldset .ms-choice > div.icon-caret {
	top: 28%;
	right: 12px;
	height: 25px;
	width: 25px;
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='38' viewBox='0 0 24 24' width='38'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z' fill='%238F5EA7'/%3E%3C/svg%3E") no-repeat;
	background-position: center center;
	border: none;
}

header .search .column .ms-choice > div.icon-caret.open, header .search.filter fieldset .ms-choice > div.icon-caret.open {
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='36' viewBox='0 0 24 24' width='36'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z' fill='%238F5EA7'/%3E%3C/svg%3E") no-repeat; 
	background-position: center center;
}

header .search .column .ms-choice:focus, header .search.filter fieldset .ms-choice:focus {
	outline: 2px solid #8F5EA7;
}

header .search .column .ms-choice span, header .search.filter fieldset .ms-choice span {
	color: #222222;
	font-family: "Open Sans";
	font-size: 16px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-left: 15px;
	padding-right: 20px;
}

header .search .column .ms-drop, header .search.filter fieldset .ms-drop {
	border-radius: 0 0 4px 4px;
}

header .search .column .ms-drop ul > li, header .search.filter fieldset .ms-drop ul > li {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	border-top: 1px solid #CDCDCD;
}

header .search .column .ms-drop ul > li:first-of-type, header .search.filter fieldset .ms-drop ul > li:first-of-type {
	border-top: none;
}

header .search .column.has-clear select + .ms-parent .ms-drop ul > li:first-of-type label,
header .search.filter fieldset .has-clear select + .ms-parent .ms-drop ul > li:first-of-type label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-left: 0;
	padding-right: 15px;
}

header .search .column.has-clear select + .ms-parent .ms-drop ul > li:first-of-type label::before,
header .search.filter fieldset .has-clear select + .ms-parent .ms-drop ul > li:first-of-type label::before {
	content: attr(data-before);
	position: relative;
	color: #242A35;
	font-size: 14px;
	font-weight: bold;
}

header .search .column.has-clear select + .ms-parent input[value='Clear'],
header .search.filter fieldset .has-clear select + .ms-parent input[value='Clear'] {
	display: none;
}

header .search .column.has-clear select + .ms-parent input[value='Clear'] + span,
header .search.filter fieldset .has-clear select + .ms-parent input[value='Clear'] + span {
	color: #8F5EA7;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	text-decoration: underline;
}

/*Slide and Fade animation*/

header .slide-in, header .fade-in {
	visibility: hidden;
}

/*Background animation*/

header .svg-wave {
	position: absolute; 
	bottom: 0;
	height: 0; 
	width: 100%; 
	padding: 0;
	padding-bottom: 22.43%; 
}

header svg[class^="wave"] {
	position: absolute; 
	left: 0; 
	top: 0;
	height: 100%; 
	width: 100%; 
	z-index: 0;
}

header .wave-morph1, header .wave-morph2, header .wave-morph3 {
	display: none;
}

/*SVG icon animation*/

header svg.svg-animation {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: 80%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

header svg polygon[id^="star"] {
	visibility: hidden;
}

@media all and (min-width: 800px) {

	header .search .row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
	}

	header .search .column {
		-ms-flex-preferred-size: 44%;
		flex-basis: 44%;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		padding-left: 10px;
		padding-right: 10px;
	}

	header .search .column:nth-of-type(odd) {
		padding-left: 30px;
	}

	header .search .column:nth-of-type(even) {
		padding-right: 30px;
	}

	header .search .column:last-of-type {
		-ms-flex-item-align: end;
		align-self: flex-end;
	}

	header .search .column:last-of-type .btn {
		margin-bottom: 0;
	}

	/*Silverstripe markup*/

	header .search.filter form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
	}

	header .search.filter fieldset {
		width: 100%;
	}

	header .search.filter fieldset .field {
		padding-left: 10px;
		padding-right: 10px;
		float: left;
		width: 50%;
	}

	header .search.filter.filter-single .field {
		width: 100%;
	}

	header .search.filter fieldset .field:first-of-type {
		padding-left: 30px;
	}

	header .search.filter .btn-toolbar {
		-ms-flex-item-align: end;
		align-self: flex-end;
		padding-left: 10px;
	}
}

@media all and (min-width: 1200px) {

	header svg#timeline {
		height: auto;
		min-width: 100%;
		min-height: 100%;
	}

	header .search .column {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		padding-left: 10px;
		padding-right: 10px;
	}

	header .search .column:nth-of-type(odd) {
		padding-left: 10px;
	}

	header .search .column:nth-of-type(even) {
		padding-right: 10px;
	}

	header .search .column:first-of-type {
		padding-left: 30px;
	}

	header .search .column:last-of-type {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		padding-right: 30px;
	}

}