.quiz {}

	.quiz h2 {
		font-size: 22px;
		margin: 0 0 20px 0;
	}

	.quiz button {
		margin-top: 20px;
	}

	.quiz .quiz-question {
		box-sizing: border-box;
		border: 1px solid transparent;
		border-radius: 3px;
		position: relative;
		padding: 35px 30px 60px 30px;
		background: #F6F6F7;
		margin: 20px 0;
	}

		.quiz .quiz-question.error {
			border-color: #c00;
		}

	.quiz .quiz-question .legend {
		position: absolute;
		bottom: 10px;
		left: 30px;
		font-size: 12px;
		margin: 0px;
		font-weight: 600;
		width: 100px;
	}

		.quiz .quiz-question .legend.high {
			left: auto;
			right: 30px;
			text-align: right;
		}

	.quiz p.error {
		color: #c00;
		position: relative;
		font-size: 14px;
		padding-left: 30px;
	}

		.quiz p.error i {
			position: absolute;
			left: 0px;
			top: -2px;
		}

	.quiz .quiz-question ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style-type: none;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 1px solid #e4e6eb;
		border-radius: 5px;
		background: #fff;
	}

		.quiz .quiz-question ul li {
			box-sizing: border-box;
			flex-grow: 1;
			flex-basis: 20%;
    		border-right: 1px solid #e4e6eb;
		}

		.quiz .quiz-question ul li:nth-of-type(1), .quiz .quiz-question ul li:nth-of-type(2), .quiz .quiz-question ul li:nth-of-type(3), .quiz .quiz-question ul li:nth-of-type(4), .quiz .quiz-question ul li:nth-of-type(5) {
			border-bottom: 1px solid #e4e6eb;
		}

		.quiz .quiz-question ul li:nth-of-type(5) {
			border-right: none;
		}

			.quiz .quiz-question ul li label {
				cursor: pointer;
				cursor: hand;
				padding: 10px;
				font-size: 14px;
				text-align: center;
				display: block;
				overflow: hidden;
				font-weight: 600;
				transition: background 0.2s;
			}

				.quiz .quiz-question ul li label:hover {
					background: #888;
					color: #fff;
				}

			.quiz .quiz-question ul li:last-of-type {
				border-right: 0px;
			}

			.quiz .quiz-question input {
				position: absolute;
				left: -9999px;
			}

			.quiz .quiz-question input:checked+label, 
			.quiz .quiz-question input:checked+label:hover 
			{
				color: white;
				background: #8F5EA7;
			}

@media all and (min-width: 400px) {
	.quiz .quiz-question .legend {
		bottom: 30px;
		width: auto;
	}
}

@media all and (min-width: 600px) {
		.quiz .quiz-question ul li {
			flex-basis: 0;
		}

		.quiz .quiz-question ul li:nth-of-type(1), .quiz .quiz-question ul li:nth-of-type(2), .quiz .quiz-question ul li:nth-of-type(3), .quiz .quiz-question ul li:nth-of-type(4), .quiz .quiz-question ul li:nth-of-type(5) {
			border-bottom: none;
		}

		.quiz .quiz-question ul li:nth-of-type(5) {
			border-right: 1px solid #e4e6eb;
		}
}